* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');

:root {
    --color-1: #041a22;
    --color-2: #358e84;
    --color-3: #06202a;
    --color-4: #0d403a;
    --color-5: #364b86;
    --font-1: 'Advent Pro', sans-serif;
}

.boton-contenedor {
    font-family: var(--font-1);
    height: 83px;
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 44px;
    color: var(--color-2);
    background: var(--color-4);
    cursor: pointer;
    border-radius: 21px;
    user-select: none;
    margin: 4px;
}

.operador {
    background: var(--color-5);
    color: white;
}

.boton-contenedor:hover {
    color: white;
    transition: 0.5s;
    font-size: 51px;
}